.nav {
  display: flex;
  gap: 32px;
  font-weight: 500;
}

.link {
  color: var(--primary-color-black);
  transition: color var(--primary-transition);
}

.active {
  color: var(--secondary-color-blue);
}
